
.heading{

    text-align: center;
    font-size: 50px;
    
    background-image: url("donation6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: aliceblue;
    padding:75px ;

    }
    .paragraph{
        font-size: 30px;
    }
.motive{
    font-weight:700;
    text-align: center;

    
}
.btn-primary{
    height: 65px;
    width: 200px;
    font-weight: 700;
    color: brown;
    background: rgb(245, 122, 6);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: aliceblue;
    
}
/* second part of my web */

.donate{
    font-size: 80px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}
.lorem{
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 1px;
}
.amount-of-donation{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-left: 350px;

}
.donation{
    background-color: rgb(238, 217, 189);
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 60px;
    margin-left: 40px;
    padding: 10px;
    
}
.taka{
    text-align: center;
    color: rgb(150, 150, 147);
    font-size: 25px;
}
.hr-tag{
    width: 50%;
}
.btn-second{
    height: 65px;
    width: 200px;
    font-weight: 700;
    color: brown;
    background: rgb(245, 122, 6);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: aliceblue;
    margin-left: 835px;
    margin-top: 20px;
}
/* third part of my web */
.third-main{
    text-align: center;
    
}
.third-part{
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    padding-top: 100px;
}
.third-part-paragraph {
    font-size: 25px;
    color: rgb(158, 160, 161);
}
.third-box{
    display: flex;
    gap: 40px;
    text-align: center;
    height: 300px;
    margin-left: 300px;
    padding-top: 40px;
    padding-bottom: 200px;
    
}
.first-icon{
    background-color: rgb(241, 226, 204);
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.second-icon{
    background-color: rgb(243, 219, 236);
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.third-icon{
    background-color: rgb(192, 188, 245);
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.fourth-part{
    display: flex;
    gap: 100px;
}
.text-content{
    background: rgb(247, 239, 237);
    border-radius: 50px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;

}
 .lorem-15{
    color: rgb(73, 73, 64);
 }
 .btn-third{
    height: 65px;
    width: 250px;
    font-weight: 700;
    
    background: rgb(235, 79, 17);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: aliceblue;
 }
 .fourth-image{
    height: 400px;
    width: 500px;
    margin-left: 140px;
 }
 /* fift part of my web */

 .fifth-part{
    display: flex;
    gap: 100px;
 }
 .fifth-image{
    margin-left: 300px;
    margin-top: 150px;
 }
 .fift-content{
   margin-top: 150px;
   margin-left: 45px;
   background-color: antiquewhite;
   border-radius: 50px;
   width: 500px;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   padding: 15px;
 }
 .btn-fourth{
    height: 65px;
    width: 250px;
    font-weight: 700;
    
    background: rgb(235, 79, 17);
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: aliceblue;
 }
 /* six part of my web */
.six-part{
    text-align: center;
    margin-top: 200px;
    
}
.lorem-18{
    color: rgb(139, 138, 138);
    font-size: 20px;
}
.six-paragraph{
    font-size: 60px;
    color: rgb(11, 226, 154);
}

/* seven part of my web */
.seven-part{
    text-align: center;
    margin-top: 70px;
    background-color: rgb(248, 228, 173);
    height: 40px;
    width: 500px;
    margin-left: 670px;
    padding: 40px;
    border-radius: 30px;

}

.six-button{
    color: rgb(248, 248, 248);
    background-color: rgb(241, 121, 8);
    font-size: 25px;
    border: none;
    border-radius:30px ;
}
.seven-email{
    
    background-color: rgb(154, 155, 155);
    font-size: 25px;
    border-radius: 10px;
    border: none;
    
}
.eight-part{
    text-align: center;
    margin-top: 120px;
    background-color: black;
    height: 170px;
}
.eight-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(145, 3, 3);
    padding-top: 30px;
    
}
.eight-lorem-19{
    color: aliceblue;
    font-size: small
}